{% extends "admin/template.twig" %}
{% block content%}
    <div class="grid gap-3 p-5 pt-3">
        <div class="g-col-md-2 border rounded">.g-col-6</div>
        <div class="g-col-md-10 border rounded p-1">.g-col-6</div>
    </div>
{% endblock %}