{% extends "admin/template.twig" %}
{% block title %}Авторизация
{% endblock %}
{% block content %}
    <style>
        form {
            animation: form_anim 2s linear infinite;
        }

        @keyframes form_anim {
            0% {
                box-shadow: -2px -2px 0px rgba(155,155,155, 0.15);
            }
            25% {
                box-shadow: 2px -2px 0px rgba(155,155,155, 0.15);
            }
            50% {
                box-shadow: 2px 2px 0px rgba(155,155,155, 0.15);
            }
            75% {
                box-shadow: -2px 2px 0px rgba(155,155,155, 0.15);
            }
            100% {
                box-shadow: -2px -2px 0px rgba(155,155,155, 0.15);
            }
        }
    </style>
    <div class="grid vh-100" style="--bs-rows: 3; --bs-columns: 3;">
        <form action="{{ path('dcms_login') }}" class="g-start-2 p-3 rounded-5 d-flex align-items-center flex-column justify-content-around" style="grid-row: 2;">
            <div class="w-100">
                <h1 class="text-center mb-5">Авторизация</h1>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('auth') }}">
                <div class="input-group flex-nowrap mb-2">
                    <span class="input-group-text" id="addon-wrapping">@</span>
                    <input type="text" name="_username" class="form-control" placeholder="Логин" aria-label="Логин"
                           aria-describedby="addon-wrapping">
                </div>
                <div class="input-group flex-nowrap mb-2">
                    <span class="input-group-text" id="addon-wrapping">#</span>
                    <input type="password" name="password" class="form-control" placeholder="Пароль" aria-label="Пароль"
                           aria-describedby="addon-wrapping">
                </div>
            </div>
            <div class="d-flex justify-content-between w-100">
                <a class="btn btn-outline-secondary">На сайт</a>
                <button class="btn btn-success">Войти</button>
            </div>
        </form>
    </div>
{% endblock %}
